absl-py==2.1.0
adagio==0.2.6
aiobotocore @ file:///croot/aiobotocore_1714464387507/work
aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1725434011349/work
aiohttp==3.10.5
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal==1.3.1
alabaster @ file:///croot/alabaster_1718201490751/work
albucore==0.0.20
albumentations==1.4.21
ale-py==0.10.1
alembic==1.14.0
altair==5.3.0
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1710965072196/work
anaconda-catalogs @ file:///work/perseverance-python-buildout/croot/anaconda-catalogs_1701755653155/work
anaconda-client @ file:///croot/anaconda-client_1708640631824/work
anaconda-cloud-auth @ file:///croot/anaconda-cloud-auth_1713991386423/work
anaconda-navigator @ file:///croot/anaconda-navigator_1727709691943/work
anaconda-project @ file:///croot/anaconda-project_1706049196717/work
annotated-types @ file:///croot/annotated-types_1709542908624/work
anyio==4.3.0
appdirs==1.4.4
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///work/perseverance-python-buildout/croot/argon2-cffi-bindings_1698877183685/work
arrow @ file:///work/perseverance-python-buildout/croot/arrow_1698877225835/work
asciimatics==1.15.0
astroid @ file:///work/perseverance-python-buildout/croot/astroid_1698851155125/work
astropy @ file:///croot/astropy_1726174598094/work
astropy-iers-data @ file:///croot/astropy-iers-data_1726000528288/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1701732681408/work
atomicwrites==1.4.0
attrs==23.2.0
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///croot/autopep8_1708962882016/work
Babel @ file:///work/perseverance-python-buildout/croot/babel_1698863996602/work
bcrypt @ file:///work/perseverance-python-buildout/croot/bcrypt_1698864043363/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///croot/black_1725573853246/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.7.0
bokeh @ file:///croot/bokeh_1727914487135/work
boltons @ file:///work/perseverance-python-buildout/croot/boltons_1698851177130/work
botocore @ file:///croot/botocore_1714460531862/work
Bottleneck @ file:///croot/bottleneck_1709069899917/work
Brotli @ file:///croot/brotli-split_1714483155106/work
cachetools @ file:///croot/cachetools_1713977085444/work
catalogue==2.0.10
category-encoders==2.6.4
certifi==2024.8.30
cffi @ file:///croot/cffi_1726856441404/work
chardet @ file:///work/perseverance-python-buildout/croot/chardet_1698867756032/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///work/perseverance-python-buildout/croot/click_1698845879718/work
cloudpathlib==0.20.0
cloudpickle @ file:///croot/cloudpickle_1721657346512/work
cmdstanpy==1.2.4
colorama @ file:///work/perseverance-python-buildout/croot/colorama_1698847155966/work
colorcet @ file:///croot/colorcet_1709758348067/work
colorlog==6.9.0
comm @ file:///croot/comm_1709322850197/work
conda @ file:///croot/conda_1732198180642/work
conda-build @ file:///croot/conda-build_1726839912356/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1727775630457/work/src
conda-pack @ file:///croot/conda-pack_1710258022278/work
conda-package-handling @ file:///croot/conda-package-handling_1718138267740/work
conda-repo-cli @ file:///croot/conda-repo-cli_1727366904598/work
conda-token @ file:///croot/conda-token_1718995751285/work
conda_index @ file:///croot/conda-index_1719338209492/work
conda_package_streaming @ file:///croot/conda-package-streaming_1718136078615/work
confection==0.1.5
constantly @ file:///croot/constantly_1703165600746/work
contourpy @ file:///work/perseverance-python-buildout/croot/contourpy_1701756524386/work
cookiecutter @ file:///croot/cookiecutter_1711059812130/work
coreforecast==0.0.15
cryptography @ file:///croot/cryptography_1724940562255/work
cssselect @ file:///croot/cssselect_1707339882883/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem==2.0.10
Cython==3.0.11
cytoolz @ file:///croot/cytoolz_1701723583781/work
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask @ file:///croot/dask-core_1725461349163/work
dask-expr @ file:///croot/dask-expr_1725522981173/work
dataclasses-json==0.6.7
datasets==3.1.0
datashader @ file:///croot/datashader_1720533861326/work
debugpy @ file:///work/perseverance-python-buildout/croot/debugpy_1698884710808/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
deprecation==2.1.0
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
diffusers==0.31.0
dill @ file:///croot/dill_1715094664823/work
distributed @ file:///croot/distributed_1725523003979/work
distro @ file:///croot/distro_1714488253808/work
docker-pycreds==0.4.0
docstring-to-markdown @ file:///work/perseverance-python-buildout/croot/docstring-to-markdown_1698864372211/work
docutils @ file:///work/perseverance-python-buildout/croot/docutils_1698846509640/work
edge-tts==6.1.19
einops==0.8.0
entmax==1.3
et-xmlfile @ file:///work/perseverance-python-buildout/croot/et_xmlfile_1698868193149/work
eval_type_backport==0.2.0
evdev==1.7.1
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
Farama-Notifications==0.0.4
fastjsonschema @ file:///work/perseverance-python-buildout/croot/python-fastjsonschema_1698846742882/work
filelock @ file:///work/perseverance-python-buildout/croot/filelock_1701733993137/work
flake8 @ file:///croot/flake8_1708965256870/work
Flask @ file:///croot/flask_1716545870149/work
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools @ file:///croot/fonttools_1713551344105/work
fqdn==1.5.1
frozendict @ file:///croot/frozendict_1713194832637/work
frozenlist==1.4.1
fs==2.4.16
fsspec @ file:///croot/fsspec_1724855583730/work
fugue==0.9.1
gast==0.6.0
gensim @ file:///croot/gensim_1725057941774/work
gitdb==4.0.11
GitPython @ file:///croot/gitpython_1720455034730/work
google-pasta==0.2.0
greenlet @ file:///croot/greenlet_1702059959679/work
grpcio==1.68.0
gunicorn==23.0.0
gymnasium==1.0.0
h11 @ file:///croot/h11_1706652277403/work
h5py @ file:///croot/h5py_1715094721489/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holidays==0.61
holoviews @ file:///croot/holoviews_1720533861358/work
httpcore==1.0.5
httpx @ file:///croot/httpx_1723474802858/work
httpx-sse==0.4.0
huggingface-hub==0.26.3
hvplot @ file:///croot/hvplot_1727775570677/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///croot/idna_1714398848350/work
imagecodecs @ file:///work/perseverance-python-buildout/croot/imagecodecs_1698851963060/work
imageio @ file:///croot/imageio_1707247282708/work
imagesize @ file:///work/perseverance-python-buildout/croot/imagesize_1698864514488/work
imbalanced-learn @ file:///croot/imbalanced-learn_1718132237102/work
importlib-metadata @ file:///croot/importlib_metadata-suite_1704813515092/work
importlib_resources==6.4.5
incremental @ file:///croot/incremental_1708639938299/work
inflection @ file:///work/perseverance-python-buildout/croot/inflection_1698869084799/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///croot/intake_1726109551815/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///croot/ipykernel_1705933831282/work
ipython @ file:///croot/ipython_1726064227985/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///croot/ipywidgets_1710961502038/work
isoduration==20.11.0
isort @ file:///croot/isort_1718289883491/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///croot/itemloaders_1708639918324/work
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jax==0.4.35
jaxlib==0.4.35
jedi @ file:///croot/jedi_1721058342488/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jellyfish @ file:///work/perseverance-python-buildout/croot/jellyfish_1698888203179/work
Jinja2==3.1.4
jmespath @ file:///work/perseverance-python-buildout/croot/jmespath_1701734034266/work
joblib==1.4.2
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter @ file:///croot/jupyter_1709837193779/work
jupyter-console @ file:///work/perseverance-python-buildout/croot/jupyter_console_1707343324117/work
jupyter-events @ file:///croot/jupyter_events_1718738097486/work
jupyter-lsp @ file:///work/perseverance-python-buildout/croot/jupyter-lsp-meta_1707343107456/work
jupyter_client @ file:///work/perseverance-python-buildout/croot/jupyter_client_1701731788627/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server @ file:///croot/jupyter_server_1718827083372/work
jupyter_server_terminals @ file:///work/perseverance-python-buildout/croot/jupyter_server_terminals_1701732095362/work
jupyterlab @ file:///croot/jupyterlab_1725895214311/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
kaleido==0.2.1
keras==3.7.0
keyboard==0.13.5
keyring @ file:///croot/keyring_1709632513808/work
kiwisolver @ file:///work/perseverance-python-buildout/croot/kiwisolver_1698847502605/work
langchain==0.3.9
langchain-community==0.3.8
langchain-core==0.3.21
langchain-ollama==0.2.0
langchain-text-splitters==0.3.2
langcodes==3.5.0
langsmith==0.1.147
language_data==1.3.0
lazy-object-proxy @ file:///croot/lazy-object-proxy_1712908712693/work
lazy_loader @ file:///croot/lazy_loader_1718176737906/work
lckr_jupyterlab_variableinspector @ file:///work/perseverance-python-buildout/croot/jupyterlab-variableinspector_1709066217947/work
libarchive-c @ file:///croot/python-libarchive-c_1726069797193/work
libclang==18.1.1
libmambapy @ file:///croot/mamba-split_1714483352891/work/libmambapy
lightgbm==4.5.0
lightning-utilities==0.11.9
linkify-it-py @ file:///work/perseverance-python-buildout/croot/linkify-it-py_1698889355052/work
llvmlite @ file:///croot/llvmlite_1720455102465/work
lmdb @ file:///work/perseverance-python-buildout/croot/python-lmdb_1698865572354/work
locket @ file:///work/perseverance-python-buildout/croot/locket_1698847555568/work
lxml @ file:///croot/lxml_1715289006750/work
lz4 @ file:///work/perseverance-python-buildout/croot/lz4_1698895161487/work
Mako==1.3.6
marisa-trie==1.2.1
Markdown @ file:///work/perseverance-python-buildout/croot/markdown_1698870813381/work
markdown-it-py==2.2.0
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib==3.9.2
matplotlib-inline @ file:///work/perseverance-python-buildout/croot/matplotlib-inline_1698864771271/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///work/perseverance-python-buildout/croot/mdit-py-plugins_1698895393342/work
mdurl==0.1.2
menuinst @ file:///croot/menuinst_1723567589013/work
mistune @ file:///work/perseverance-python-buildout/croot/mistune_1698895588147/work
mkl-service==2.4.0
mkl_fft @ file:///croot/mkl_fft_1725370245198/work
mkl_random @ file:///croot/mkl_random_1725370241878/work
ml-dtypes==0.4.1
more-itertools @ file:///croot/more-itertools_1727185441804/work
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
msgpack @ file:///work/perseverance-python-buildout/croot/msgpack-python_1698846122235/work
multidict==6.0.5
multipledispatch @ file:///work/perseverance-python-buildout/croot/multipledispatch_1698846147141/work
multiprocess==0.70.16
munch==4.0.0
murmurhash==1.0.11
mypy @ file:///croot/mypy-split_1725573876658/work
mypy-extensions @ file:///work/perseverance-python-buildout/croot/mypy_extensions_1698863276135/work
namex==0.0.8
navigator-updater @ file:///croot/navigator-updater_1718030385782/work
nbclient @ file:///work/perseverance-python-buildout/croot/nbclient_1701731912506/work
nbconvert @ file:///croot/nbconvert_1728049414448/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx @ file:///croot/networkx_1720002482208/work
nltk @ file:///croot/nltk_1724427688180/work
notebook @ file:///croot/notebook_1727197365392/work
notebook_shim @ file:///work/perseverance-python-buildout/croot/notebook-shim_1707343174853/work
numba @ file:///croot/numba_1720540961817/work
numexpr @ file:///work/perseverance-python-buildout/croot/numexpr_1698871031164/work
numpy==1.26.4
numpydoc @ file:///croot/numpydoc_1718279157024/work
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
ollama==0.4.2
openai==0.27.2
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl @ file:///croot/openpyxl_1721752957391/work
opt_einsum==3.4.0
optree==0.13.1
optuna==4.1.0
orjson==3.10.12
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1701732220415/work
packaging==24.1
pandas==2.2.2
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel @ file:///croot/panel_1728066367874/work
param @ file:///croot/param_1719347913870/work
parsel @ file:///croot/parsel_1707503445438/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///work/perseverance-python-buildout/croot/partd_1698863295708/work
pathspec @ file:///work/perseverance-python-buildout/croot/pathspec_1698805478393/work
patsy @ file:///croot/patsy_1718378176128/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.4.0
pix2tex==0.1.2
pkce @ file:///work/perseverance-python-buildout/croot/pkce_1698863336124/work
pkginfo @ file:///croot/pkginfo_1715695984887/work
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
plotly @ file:///croot/plotly_1726245554316/work
plotly-resampler==0.10.0
pluggy @ file:///work/perseverance-python-buildout/croot/pluggy_1698805497733/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
pmdarima==2.0.4
preshed==3.0.9
prometheus-client @ file:///work/perseverance-python-buildout/croot/prometheus_client_1698865353814/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
prophet==1.1.6
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
protobuf==4.25.3
psutil @ file:///work/perseverance-python-buildout/croot/psutil_1698863411559/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo @ file:///work/perseverance-python-buildout/croot/py-cpuinfo_1698865397566/work
pyarrow==16.1.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycodestyle @ file:///croot/pycodestyle_1701910164456/work
pycosat @ file:///croot/pycosat_1714510623388/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct @ file:///work/perseverance-python-buildout/croot/pyct_1698871492339/work
pycurl @ file:///croot/pycurl_1725370229412/work
pydantic==2.10.2
pydantic-settings==2.6.1
pydantic_core==2.27.1
pydeck==0.8.1b0
PyDispatcher @ file:///work/perseverance-python-buildout/croot/pydispatcher_1698871512960/work
pydocstyle @ file:///work/perseverance-python-buildout/croot/pydocstyle_1698865417470/work
pyerfa @ file:///croot/pyerfa_1717700762709/work
pyfiglet==1.0.2
pyflakes @ file:///croot/pyflakes_1708962956225/work
pygame==2.6.1
Pygments==2.17.2
PyJWT @ file:///croot/pyjwt_1715094751094/work
pylint @ file:///work/perseverance-python-buildout/croot/pylint_1698865458204/work
pylint-venv @ file:///croot/pylint-venv_1709837612550/work
pyls-spyder==0.4.0
pynput==1.7.7
pyod==2.0.2
pyodbc @ file:///croot/pyodbc_1725560222485/work
pyOpenSSL @ file:///croot/pyopenssl_1723651579422/work
pyparsing @ file:///croot/pyparsing_1725041624202/work
pypdf==5.1.0
pyperclip==1.9.0
PyQt5==5.15.10
PyQt5-sip @ file:///work/perseverance-python-buildout/croot/pyqt-split_1698847927472/work/pyqt_sip
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6-WebEngine==6.7.0
PyQt6-WebEngine-Qt6==6.7.3
PyQt6-WebEngineSubwheel-Qt6==6.7.3
PyQt6_sip==13.8.0
PyQtWebEngine==5.15.6
PySide6==6.8.1
PySide6_Addons==6.8.1
PySide6_Essentials==6.8.1
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
pytesseract==0.3.13
pytest @ file:///croot/pytest_1717793244625/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-dotenv @ file:///work/perseverance-python-buildout/croot/python-dotenv_1698846722824/work
python-json-logger @ file:///work/perseverance-python-buildout/croot/python-json-logger_1698873656334/work
python-lsp-black @ file:///croot/python-lsp-black_1709232897954/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-server @ file:///croot/python-lsp-server_1708971736441/work
python-pptx==0.6.21
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
python-xlib==0.33
pytoolconfig @ file:///croot/pytoolconfig_1701728692402/work
pytorch-lightning==2.4.0
pytz @ file:///croot/pytz_1713974312559/work
pyviz_comms @ file:///croot/pyviz_comms_1711136832766/work
PyWavelets @ file:///croot/pywavelets_1725657945951/work
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML @ file:///work/perseverance-python-buildout/croot/pyyaml_1698849903511/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///work/perseverance-python-buildout/croot/qstylizer_1698900556042/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl#sha256=6d40f32007acd9673a44b9d879388ca3e09a68f0342daa31cab082bc596303c8
QtAwesome @ file:///croot/qtawesome_1726169351455/work
qtconsole @ file:///croot/qtconsole_1709231153903/work
QtPy @ file:///work/perseverance-python-buildout/croot/qtpy_1701733558435/work
queuelib @ file:///work/perseverance-python-buildout/croot/queuelib_1698873899800/work
referencing==0.34.0
regex @ file:///croot/regex_1726669635272/work
requests==2.32.3
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-toolbelt @ file:///work/perseverance-python-buildout/croot/requests-toolbelt_1698846872000/work
retrying==1.3.4
rfc3339-validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1698873973408/work
rfc3986-validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1698874010100/work
rich @ file:///croot/rich_1720637495510/work
rope @ file:///croot/rope_1708963153974/work
rpds-py==0.18.0
Rtree @ file:///work/perseverance-python-buildout/croot/rtree_1698900851071/work
ruamel-yaml-conda @ file:///work/perseverance-python-buildout/croot/ruamel_yaml_1698874047131/work
ruamel.yaml @ file:///croot/ruamel.yaml_1727980156079/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1727769819935/work
s3fs @ file:///croot/s3fs_1724924097918/work
safetensors==0.4.5
schemdraw==0.15
scikit-base==0.7.8
scikit-image @ file:///croot/scikit-image_1726737398091/work
scikit-learn==1.5.1
scikit-plot==0.3.7
scipy==1.13.1
Scrapy @ file:///croot/scrapy_1708714682090/work
screeninfo==0.8.1
seaborn @ file:///croot/seaborn_1718302919398/work
SecretStorage @ file:///work/perseverance-python-buildout/croot/secretstorage_1698846935813/work
semver @ file:///croot/semver_1709243621175/work
Send2Trash @ file:///work/perseverance-python-buildout/croot/send2trash_1701732325573/work
sentry-sdk==2.19.0
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
setproctitle==1.3.4
setuptools==75.1.0
shellingham==1.5.4
shiboken6==6.8.1
simsimd==6.2.1
sip @ file:///work/perseverance-python-buildout/croot/sip_1698846977033/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///work/perseverance-python-buildout/croot/smart_open_1698863627550/work
smmap==5.0.1
sniffio==1.3.1
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1698866207280/work
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx @ file:///croot/sphinx_1718275386998/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1718201486943/work
spyder @ file:///croot/spyder_1727197262862/work
spyder-kernels @ file:///croot/spyder-kernels_1707937713588/work
SQLAlchemy @ file:///croot/sqlalchemy_1725885050993/work
srsly==2.4.8
stable_baselines3==2.4.0
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
stanio==0.5.1
statsforecast==2.0.0
statsmodels @ file:///croot/statsmodels_1718381181899/work
streamlit==1.37.1
stringzilla==3.11.0
sympy==1.13.1
tables @ file:///croot/pytables_1725380772899/work
tabulate @ file:///work/perseverance-python-buildout/croot/tabulate_1701748610754/work
tbats==1.1.3
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///croot/tenacity_1721222508356/work
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
terminado @ file:///work/perseverance-python-buildout/croot/terminado_1698874934826/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///work/perseverance-python-buildout/croot/tifffile_1698866341575/work
timm==0.5.4
tinycss2 @ file:///work/perseverance-python-buildout/croot/tinycss2_1698875051986/work
tldextract @ file:///croot/tldextract_1723064386918/work
tokenizers==0.20.3
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///work/perseverance-python-buildout/croot/tomli_1698805555176/work
tomlkit @ file:///work/perseverance-python-buildout/croot/tomlkit_1698847005123/work
toolz==0.12.1
torch==2.5.1
torchaudio==2.5.1
torchmetrics==1.6.0
torchvision==0.20.1
tornado==6.4.1
tqdm==4.66.5
traitlets @ file:///croot/traitlets_1718227057033/work
transformers==4.46.3
triad==0.9.8
triton==3.1.0
truststore @ file:///work/perseverance-python-buildout/croot/truststore_1701735771625/work
tsdownsample==0.1.3
Twisted @ file:///croot/twisted_1708702809815/work
typer==0.14.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py @ file:///work/perseverance-python-buildout/croot/uc-micro-py_1698875458503/work
ujson @ file:///croot/ujson_1717597529825/work
unicodedata2 @ file:///croot/unicodedata2_1713212950228/work
Unidecode @ file:///croot/unidecode_1724790039185/work
uri-template==1.3.0
urllib3==2.2.3
utilsforecast==0.2.10
uv==0.5.5
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
wandb==0.18.7
wasabi==1.1.3
watchdog==4.0.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
weasel==0.4.1
webcolors==24.11.1
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug @ file:///croot/werkzeug_1716533313107/work
whatthepatch @ file:///work/perseverance-python-buildout/croot/whatthepatch_1698866493803/work
wheel==0.44.0
widgetsnbextension @ file:///croot/widgetsnbextension_1710960037596/work
wrapt @ file:///work/perseverance-python-buildout/croot/wrapt_1698851040578/work
wurlitzer @ file:///work/perseverance-python-buildout/croot/wurlitzer_1698906481008/work
x-transformers==0.15.0
xarray @ file:///work/perseverance-python-buildout/croot/xarray_1698851063735/work
XlsxWriter==3.2.0
xxhash==3.5.0
xyzservices @ file:///work/perseverance-python-buildout/croot/xyzservices_1698866513675/work
yapf @ file:///croot/yapf_1708964320665/work
yarl==1.11.0
yellowbrick==1.5
zict @ file:///work/perseverance-python-buildout/croot/zict_1698876364831/work
zipp @ file:///work/perseverance-python-buildout/croot/zipp_1707367835224/work
zope.interface @ file:///work/perseverance-python-buildout/croot/zope.interface_1698866533743/work
zstandard @ file:///croot/zstandard_1728569189425/work
